* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.68vw;
}

header img {
    width: 32vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.company {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15vw;
}

.company article {
    width: 20vw;
}

.company img {
    width: 15vw;
    /*    transform: translateY(-50%);*/

}

/*navbar*/
nav {
    border-top: 2px solid #24397c;
    border-bottom: 2px solid #24397c;
    display: flex;
    justify-content: center;
    width: 100%;
    /*    padding-right: 25%;*/
    /*    padding-left: 25%;*/
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.navElement {
    text-align: center;
    padding-top: 0.35vw;
    padding-bottom: 0.35vw;
    padding-left: 6vw;
    padding-right: 6vw;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}

.navElement:link {
    color: inherit;
    text-decoration: inherit;
}

.navElement:visited {
    color: inherit;
}

.navElement:hover {
    background-color: #e4e6ed;
}

/*about as*/
.about_us {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6vw;
    margin-top: 4vw;
    opacity: 0;
}


h1 {
    text-align: center;
    margin-bottom: 1.5vw;
    font-size: 1.5em;
}

#partners {
    opacity: 0;
    margin-bottom: 5vw;
    transition: ease-in-out;
}

h2 {
    margin-bottom: 1vw;
    font-size: 1.35em;
}



/*   company even*/
.company:nth-child(even) article {
    position: relative;
    left: 15vw;
    opacity: 0;
}

.company:nth-child(even) h2 {
    position: relative;
    /*    left: 15vw;*/
    opacity: 0;
    left: 3vw;
}

.company:nth-child(even) > img {
    position: relative;
    left: -15vw;
    opacity: 0;
}

/*   company odd */

.company:nth-child(odd) article {
    position: relative;
    left: -15vw;
    opacity: 0;
}

.company:nth-child(odd) h2 {
    position: relative;
    /*    left: -15vw;*/
    opacity: 0;
    left: 3vw;
}

.company:nth-child(odd) > img {
    position: relative;
    left: 15vw;
    opacity: 0;
}

.company:last-child {
    border: 2px solid black;
}

/*    all*/

.company img {
    bottom: 10vw;
}

.company a img {
    transition: transform 0.4s ease-in-out;
}

.company a img:hover {
    transform: scale(1.1);

}



#MicroPort h2 img {
    Width: 9vw;
    position: absolute;
    top: -0.4vw;
    right: 5.5vw;
}

#VUP h2 img {
    position: absolute;
    width: 7vw;
    top: -1.3vw;
    right: 6vw;
}

#Axiobio h2 img {
    position: absolute;
    width: 9vw;
    top: -1vw;
    right: 5.7vw;
}

#Axiobio > img {
    position: absolute;
    top: -3vw;
    left: 57vw;


}

#Axiobio {
    position: relative;
}


#VUP > img {
    position: absolute;
    top: -2.5vw;
    left: 25vw;
}


#VUP {
    position: relative;
}

#MicroPort {

    position: relative;
}

#MicroPort > img {
    position: absolute;
    top: -3vw;
    left: 56vw;
}

/*contact*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

h3 {

    font-size: 1.4em;
}

.contact p {
    font-size: 1.2em;
}

.contact > a {
    width: 9vw;
    height: 2vw;



    margin-top: 2vw;
    margin-bottom: 2vw;
}

.contact > a button:hover {
    background-color: #f06e32;

}

.contact > a button {
    color: white;
    width: inherit;
    height: inherit;
    border: 0px;
    background-color: #eb6325;
    font-size: 1.2em;
    transition: 0.2s ease-in-out;
}

.contact h3:last-of-type {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

input[type=text] {
    width: 28vw;
    height: 2vw;
    margin-bottom: 1vw;
    border: 1px solid #24397c;
    padding-left: 1%;
}

input[type=text]::placeholder {
    display: flex;
    align-items: center;
}

textarea {
    margin-bottom: 1vw;
    height: 10vw;
    border: 1px solid #24397c;
    cursor: text;
    padding-left: 1%;
    padding-top: 1%;
}

textarea::placeholder {
    position: absolute;
    left: 1%;
    top: 4%;
}


input[type=submit] {
    width: 28vw;
    height: 2vw;
    margin-bottom: 7vw;
    font-size: 1.2em;
    color: white;
    background-color: #eb6325;
    transition: 0.2s ease-in-out;
    border: none;


}

input[type=submit]:hover {
    background-color: #f06e32;


}


/*footer*/

footer {
    margin-top: 2vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    margin-bottom: 1.2vw;
}

.footerBorder {
    width: 100%;
    height: 2px;
    background-color: black;

}



@media (max-width:2000px) {
    * {
        font-size: 0.9vw;
    }

    .about_us {
        width: 40vw;
    }

    .company article {
        width: 30vw;
    }

    .company:nth-child(odd) article {
        left: -18vw;
    }

    .company:nth-child(even) article {
        left: 18vw;
    }

    #MicroPort > img {
        left: 59vw;
    }

    #VUP > img {
        left: 21vw;
    }

    #Axiobio > img {
        left: 59vw;
    }

    #MicroPort h2 img {
        right: 10vw;
    }

    #VUP h2 img {
        right: 10vw;
    }

    #Axiobio h2 img {
        right: 10vw;
    }

    .contact > a {
        width: 12vw;
        height: 3vw;
    }

    input[type=text] {
        width: 35vw;
        height: 3vw;
    }

    textarea {
        height: 13vw;
    }

    input[type=submit] {
        width: 35vw;
        height: 3vw;
    }

    .company img {
        width: 17vw;
    }

}

@media (max-width:1400px) {
    * {
        font-size: 1.1vw;
    }

    .about_us {
        width: 45vw;
    }

    .company article {
        width: 38vw;
    }

    .company:nth-child(odd) article {
        left: -20vw;
    }

    .company:nth-child(even) article {
        left: 20vw;
    }

    #partners {
        margin-bottom: 6vw;
    }

    #MicroPort > img {
        left: 59vw;
        top: -4vw;
    }

    #VUP > img {
        left: 14vw;
        width: 25vw;
        top: -4vw;
    }

    #Axiobio > img {
        left: 57vw;
        width: 24vw;
        top: -7vw;
    }

    #MicroPort h2 img {
        right: 13vw;
        width: 12vw;
    }

    #VUP h2 img {
        right: 12vw;
        width: 9.5vw;
    }

    #Axiobio h2 img {
        right: 15vw;
        width: 11vw;
        top: -1.2vw;

    }

    .contact > a {
        width: 15vw;
        height: 3.6vw;
    }

    input[type=text] {
        width: 42vw;
        height: 3.5vw;
    }

    textarea {
        height: 16vw;
    }

    input[type=submit] {
        width: 42vw;
        height: 3.5vw;
    }

    .company img {
        width: 21vw;
    }

    .company {
        padding-bottom: 17vw;
    }

}

@media (max-width:1100px) {
    * {
        font-size: 1.4vw;
    }

    .about_us {
        width: 55vw;
    }

    .company article {
        width: 44vw;
    }

    .company:nth-child(odd) article {
        left: -21vw;
    }

    .company:nth-child(even) article {
        left: 21vw;
    }

    #partners {
        margin-bottom: 6vw;
    }

    #MicroPort > img {
        left: 62vw;
        top: -4vw;
        width: 24vw;
    }

    #VUP > img {
        left: 11vw;
        width: 27vw;
        top: -4vw;
    }

    #Axiobio > img {
        left: 60vw;
        width: 27vw;
        top: -7vw;
    }

    #MicroPort h2 img {
        right: 13vw;
        width: 15vw;

    }

    #VUP h2 img {
        right: 14vw;
        width: 10.5vw;
    }

    #Axiobio h2 img {
        right: 15vw;
        width: 11vw;
        top: -1.2vw;

    }

    .contact > a {
        width: 24vw;
        height: 4.8vw;
    }

    input[type=text] {
        width: 50vw;
        height: 4.8vw;
    }

    textarea {
        height: 20vw;
    }

    input[type=submit] {
        width: 50vw;
        height: 4.8vw;
    }

    .company img {
        width: 21vw;
    }

    .company {
        padding-bottom: 17vw;
    }

    footer {
        margin-left: 12vw;
        margin-right: 12vw;
    }
}

@media (max-width:900px) {
    * {
        font-size: 1.7vw;
    }

    .about_us {
        width: 65vw;
    }

    .company article {
        width: 50vw;
    }

    .company:nth-child(odd) article {
        left: -18vw;
    }

    .company:nth-child(even) article {
        left: 21vw;
    }

    #partners {
        margin-bottom: 6vw;
    }

    #MicroPort > img {
        left: 65vw;
        top: -4vw;
        width: 27vw;
    }

    #VUP > img {
        left: 6vw;
        width: 32vw;
        top: -4vw;
    }

    #Axiobio > img {
        width: 33vw;
    }

    #MicroPort h2 img {
        right: 15vw;
        width: 17vw;

    }

    #VUP h2 img {
        right: 16vw;
        width: 13vw;
        top: -1.8vw;
    }

    #Axiobio h2 img {
        right: 18vw;
        width: 14vw;
        top: -1.5vw;

    }

    .contact > a {
        width: 28vw;
        height: 6vw;
    }

    input[type=text] {
        width: 55vw;
        height: 5vw;
    }

    textarea {
        height: 20vw;
    }

    input[type=submit] {
        width: 55vw;
        height: 6vw;
    }

    .company img {
        width: 21vw;
    }

    .company {
        padding-bottom: 17vw;
    }

    footer {
        margin-left: 12vw;
        margin-right: 12vw;
    }

    .navElement {
        padding-bottom: 0.8vw;
        padding-top: 0.8vw;
    }
}

@font-face {
    font-family: "Poppins";
    src: url("assets/font-face/Poppins/Poppins-Regular.ttf");
}
